# Next.js build output
.next/
out/

# Dependencies
node_modules/

# Local environment & secrets
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
*.pem

# IDEs
.vscode/
.idea/
